# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.workspace/
.vscode/
*.code-workspace

# Test coverage
coverage/

# Temporary files
tmp*
